.container {
    display: flex;
    flex-direction: row;
}

.matchup-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchup-grid-container {
    position: relative;
}

.matchup-chart {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95vh;
}

.row {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cell img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#grid-canvas {
    top: 50px;
    left: 50px;
    position: absolute;
    pointer-events: none;
}

.matchup-pair-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    margin: 4px;
}

.matchup-player-id-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4px;
}

.matchup-pair-text {
    min-width: 100px;
    text-align: center;
    font-size: 12pt;
    align-content: center;
}

.matchup-pair-image {
    width: 28px;
    height: 28px;
}

.matchup-player-id-spacer {
    min-width: 100px;
}

.winner-text {
    text-align: center;
    align-content: center;
    margin-top: 10px;
    font-size: 16pt;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 5;
    bottom: 100%;
    right: 0;
}

.dropdown-menu.visible {
    display: block;
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    color: black;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-item.toggled {
    background-color: #007bff;
    color: white;
}

h1 {
    margin: 5px;
    margin-left: 10px;
    /* margin-top: 0px; */
}

h2 {
    margin: 5px;
    margin-top: 0px;
}

.slider-container {
    margin-top: 10px;
    text-align: center;
    width: 90vh;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

#match-threshold-slider {
    width: 80%;
}

#match-threshold-slider-value {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-weight: bold;
}
