<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Character Matchup Chart</title>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="static/js/matchup.js"></script>
        <link rel="stylesheet" href="static/css/tierlist-styles.css" />
        <link rel="stylesheet" href="static/css/matchup-styles.css" />
    </head>
    <body>
        <div class="navbar">
            <a href="/">Tier List (elo)</a>
            <a href="#">Tier List (stocks)</a>
            <a href="matchup_chart">Matchup Chart</a>
        </div>
        <h1>Character Matchup Chart</h1>
        <div class="winner-text"></div>
        <div class="container">
            <table id="p1-matchup-chart">
                <tbody class="matchup-chart-body"></tbody>
            </table>
            <div id="random-matchup-container" class="matchup-container">
                <h2>Random Matchups</h2>
                <div class="matchup-items"></div>
                <template id="matchup-pair">
                    <div class="matchup-pair-container">
                        <img class="matchup-pair-image" src="" />
                        <div class="matchup-pair-text"></div>
                        <img class="matchup-pair-image" src="" />
                    </div>
                </template>
            </div>
            <div id="closest-matchup-container" class="matchup-container">
                <h2>Closest Matchups</h2>
                <div class="matchup-items"></div>
                <template id="matchup-pair">
                    <div class="matchup-pair-container">
                        <img class="matchup-pair-image" src="" />
                        <div class="matchup-pair-text"></div>
                        <img class="matchup-pair-image" src="" />
                    </div>
                </template>
            </div>
            <!-- <table id="p2-matchup-chart">
                <tbody class="matchup-chart-body"></tbody>
            </table> -->
        </div>
        <div class="action-buttons collapsed">
            <div class="menu-content">
                <!-- <button onclick="incrementMatchupPairRenderFunction()">Switch</button> -->
                <div class="dropdown">
                    <button class="dropdown-toggle" onclick="toggleDropdown()">Characters</button>
                    <ul id="dropdown-menu" class="dropdown-menu"></ul>
                </div>
            </div>
            <button class="toggle-button" onclick="toggleActionMenu()">≡</button>
        </div>
    </body>
</html>
