<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Character Matchup Chart</title>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="static/js/matchup.js"></script>
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/matchup-styles.css" />
        <link rel="stylesheet" href="static/css/sidebar-styles.css" />
    </head>
    <body>
        <div class="navbar">
            <a href="/">Tier List (elo)</a>
            <a href="#">Tier List (stocks)</a>
            <a href="matchup_chart">Matchup Chart</a>
        </div>
        <!-- <h1>Character Matchup Chart</h1> -->
        <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>

        <div class="sidebar" id="sidebar">
            <h2>Options</h2>

            <div class="toggle-buttons">
                <div class="toggle-container">
                    <label class="toggle-switch">
                        <input
                            id="toggle-filter-button"
                            oninput="toggleFilter(this.checked)"
                            type="checkbox"
                        />
                        <div class="toggle-switch"></div>
                    </label>
                    <span class="toggle-label">Enable Filter</span>
                </div>
                <div class="toggle-container">
                    <label class="toggle-switch">
                        <input
                            id="toggle-trendline-button"
                            oninput="toggleTrendline(this.checked)"
                            type="checkbox"
                        />
                        <div class="toggle-switch"></div>
                    </label>
                    <span class="toggle-label">Show Trendline</span>
                </div>
            </div>

            <div class="slider-container">
                <label for="match-threshold-slider">Match Threshold:</label>
                <div class="slider-wrapper">
                    <input
                        id="match-threshold-slider"
                        type="range"
                        min="1"
                        max="100"
                        value="5"
                        oninput="handleSliderChange(this.value)"
                    />
                    <span id="match-threshold-slider-value">5</span>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle" onclick="toggleDropdown()">
                    Select Character Filters ▼
                </button>
                <div id="dropdown-menu" class="dropdown-menu"></div>
            </div>
        </div>

        <div class="container">
            <div class="matchup-chart-container">
                <h2>Matchups Chart</h2>
                <div class="matchup-grid-container">
                    <div id="matchup-chart" class="matchup-chart"></div>
                    <canvas id="grid-canvas"></canvas>
                </div>
            </div>

            <div id="random-matchup-container" class="matchup-container">
                <h2>Random Matchups</h2>
                <div id="random-matchup-player-id-container" class="matchup-player-id-container">
                    <div class="matchup-player-id">P1</div>
                    <div class="matchup-player-id-spacer"></div>
                    <div class="matchup-player-id">P2</div>
                </div>
                <div class="matchup-items"></div>
                <template id="matchup-pair">
                    <div class="matchup-pair-container">
                        <img class="matchup-pair-image" src="" />
                        <div class="matchup-pair-text"></div>
                        <img class="matchup-pair-image" src="" />
                    </div>
                </template>
            </div>
            <div id="closest-matchup-container" class="matchup-container">
                <h2>Closest Matchups</h2>
                <div class="matchup-player-id-container">
                    <div class="matchup-player-id">P1</div>
                    <div class="matchup-player-id-spacer"></div>
                    <div class="matchup-player-id">P2</div>
                </div>
                <div class="matchup-items"></div>
                <template id="matchup-pair">
                    <div class="matchup-pair-container">
                        <img class="matchup-pair-image" src="" />
                        <div class="matchup-pair-text"></div>
                        <img class="matchup-pair-image" src="" />
                    </div>
                </template>
            </div>
        </div>
    </body>
</html>
